@media only screen {
  body {
    font-family: "Varta", sans-serif;
    color: #202020;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 2em;
  }

  #about-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 140px;
    height: auto;
  }

  hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #acacac;
    width: 700px;
  }

  .about-small-header {
    font-family: "Playfair Display", serif;
    font-size: 1.3em;
    line-height: 1.8em;
  }

  .about-link {
    height: 100px;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-color: #acacac;
    padding: 0px 20px;
  }

  #about-link-bottom {
    border-bottom-width: 1px;
  }

  .about-link-img {
    width: 46px;
    position: relative;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-link-img img {
    width: 46px;
    padding: 0;
    margin: 0;
  }

  .about-link-text {
    padding-left: 40px;
    height: auto;
  }

  #about-contact-section {
    position: relative;
    margin-bottom: 140px;
  }

  .about-connect {
    max-width: 500px;
    position: relative;
    top: 10px;
    color: #606060;
  }

  /* Links */
  #about-link-header {
    color: #202020;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-color: #e6633f;
    border-width: 2px;
    border-bottom: 1;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 2.2em;
    margin-bottom: 20px;
  }

  #about-link-header:hover {
    cursor: pointer;
    background-color: #ffb3af;
  }

  #link-large {
    color: #202020;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-color: #e6633f;
    border-width: 3px;
    border-bottom: 1;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  #link-large:hover {
    background-color: #ffb3af;
  }

  #about-img-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 25px;
    /* grid-row-gap: 60px; */
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: auto;
  }

  .about-img img {
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }

  #about-container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
  }

  #about-link-section {
    width: 360px;
    height: auto;
    top: 50px;
    position: relative;
  }

  .about-link {
    height: 180px;
    max-width: 360px;
    position: relative;
    padding: 0px 10px;
  }

  #about-contact-section {
    position: relative;
    margin-bottom: 140px;
  }

  hr {
    width: 360px;
  }

  #about-img-grid {
    display: grid;
    grid-template-columns: 220px;
    row-gap: 20px;
    /* grid-row-gap: 60px; */
    width: 220px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
  }
}
