@media only screen {
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f3eee8;
  }

  #home-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

  .intro-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .value-prop {
    font-family: 'Marcellus', serif;
    color: #1f1717;
    letter-spacing: -0.008em;
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  #prop-line-1 {
    margin: 0;
  }

  #prop-line-2 {
    margin: 0;
  }

  .intro {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 2em;
    color:#4f4d49;
    letter-spacing: 0.01em;
    max-width: 650px;
  }

  .proj-container {
    width: 70vw;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .section-title {
    /* position */
    position: relative;
    margin-bottom: 40px;
    /* style */
    font-family: 'Oxygen', sans-serif;
    color: #1f1717;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .proj-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3rem;
  }

  .proj-link {
    text-decoration: none;
    color: #1f1717;
  }

  .proj-card img{
    transition: all .3s ease-in-out;
    border: rgba(0, 15, 11, 1) solid 1px;
  }

  .proj-card img:hover {
    transform: scale(1.04);
    cursor: pointer;
  }

  .proj-card img {
    width:100%;
  }

  .card-title {
    font-family: 'Marcellus', serif;
    color: #1f1717;
    font-size: 1.7em;
    line-height: 1.6em;
    margin-top: 15px;
    margin-bottom: 8px;
   }

  .card-description {
    position: relative;
    margin-bottom: 50px;
    font-family: 'Oxygen', sans-serif;
    color: #4f4d49;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6em;
  }

  .landing-link {
    position: relative;
    font-family: 'Oxygen', sans-serif;
    font-size: 0.95em;
    color: #2c2d36;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    padding: 4px; 
    /* border */
    border-style: solid;
    border-color: #7AA0B2;
    border-width: 3px;
    border-bottom: 10;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: all .3s ease-in-out;
  }

  .landing-link:hover {
    background-color: #7AA0B2;
    color: white;
  }

  #footer {
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: flex-start;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  #footer-title {
    font-family: 'Marcellus', serif;
    color: #1f1717;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .footer-caption {
    position: relative;
    font-family: 'Oxygen', sans-serif;
    color: #4f4d49;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 2em;
    margin-bottom: 40px;
    max-width: 650px;
  }

  .social-link {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    color: #1f1717;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    
  }
}
  
/* Mobile */
@media only screen and (max-width: 600px) {
  html,
  body {
    /* max-width: 600px; */
    overflow-x: none;
  }

  #home-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    top: 40px;
  }

  .intro-container {
    width: 88%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .value-prop {
    max-width: 350px;
    font-size: 3em;
  }

  .proj-container {
    width: 88%;
  }

  #footer {
    width: 88%;
    margin-bottom: 50px;
  }
}
