.body {
  margin: 0;
  padding: 0;
}

#logo {
  /* position */
  position:fixed;
  float: left;
  top: 20px;
  left: 70px;
  z-index: 10;
  display: block;
  /* style */
  font-family: 'DM Serif Display', serif;
  font-size: 1.8em;
  color: #2c2d36;
  text-decoration: none;
  letter-spacing: 0.03em;
  height: 90px;
}

.topnav {
  /* position */
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: 5;
  /* style */
  background-color: #E6E7D7;
  /*border-bottom: rgba(44, 45, 54, 0.1) solid 1px;*/
}

.topnav a {
  /* position */
  float: right;
  display: block;
  text-align: center;
  padding: 30px 40px;
  /* style */
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #1f1717;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.02em;
}

.topnav a:hover {
  color: #2c2d36;
}

.topnav a.active {
  color: #2c2d36;
  font-weight: 700;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color:#1f1717;
  }

  #logo {
    left: 30px;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    height: 40px;
  }

  .topnav {
    background-color: #E6E7D7;
  }
  
  .topnav.responsive {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
